body {
	background-color: #E6CD9C;
	
	background: 
		linear-gradient(
				rgba(0,0,0,70%),
				rgba(0,0,0,30%),
				rgba(0,0,0,20%),
				rgba(0,0,0,0%)
			) no-repeat,
		url(img/luz.jpg);
	
	background-size: cover;

}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	background-color: #EBCDA0;

}

.nav {
	/*border-width: 1px;*/
	/*border-color: white;*/
	/*display: block;*/
 	float:right;
	margin:5px;
	width: 60%;
	/*background-color: white;*/


}

/*Este es un div*/
.panel {
	width: 30%;
	height: 650px;
	background-color: black;
	color: white;
	opacity: 90%;
	padding: 50px;
	text-align: center;
}

ul {
	/*background-color: #C54747;*/
}

/*---------------------------------------
	REGLA PARA ITEMS DE LISTA DESORDENADA
----------------------------------------*/
.nav ul li {
	float: right;
	text-align: center;
	margin: 0px 20px; 
	/*width: 100px;*/
	/*border-width: 1px;*/
	/*border-style: solid;*/
	/*border-color: grey;*/
	font-family: Amiko; 
	display: inline-block;
	border-radius: 50px 10px;
}


li:hover {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	display: inline-block;
	color: white;
	/*border-width: 1px;*/
	/*border-style: solid;*/



}

a:hover {
	color: white;
	border: 2px solid white;
  	padding: 10px;
  	border-radius: 50px 20px;

}

p {
	text-align: justify;
}

/*section {
	width: 620px;
	height: 700px;
	margin-left: 50px;
	background-color: #FFFFFF;
}*/